html {
  background-color: lightblue;
	color: darkcyan;
	font-style: Georgia, serif;
	line-height: 1.2;
}

body {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

h1, h2, h3 {
  font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  color: #a0615f;
}

a {
	text-decoration: none;
}

a:link {
	color: #a0615f;
}

a:visited {
	color: #a0615f;
}

a:hover {
	color: #a0615f;
	text-decoration: underline;
}

a:active {
	color: crimson;
}

pre {
		display: inline;
}

kbd {

}

th {
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	text-align: left;
}
