html {
  	background-color: lightblue;
	color: darkcyan;
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	line-height: 1.2;
}

body {
	height: 100%;
	width: 100%;
}

h1, h2, h3 {
  	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
  	font-weight: bold;
  	color: #a0615f;
}

p.note {
	font-size: 0.8em;
}

a {
	text-decoration: none;
}

a:link {
	color: #a0615f;
}

a:visited {
	color: #a0615f;
}

a:hover {
	color: #a0615f;
	text-decoration: underline;
}

a:active {
	color: crimson;
}

pre {
	display: inline;
}

kbd {

}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

th {
	border-bottom: 1px solid lightseagreen;
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

tr {

}

td {
	padding: 5px 10px 5px 10px;
	border-right: 1px solid lightseagreen;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	right: 0px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 0px;
}

#content {
	position: absolute;
	top: 100px;
	bottom: 50px;
	left: 0px;
	right: 0px;
	overflow: auto;
	margin-top: 0px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 0px;
}

#footer {
	font-size: 0.8em;
	position: absolute;
	bottom: 0px;
	height: 50px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 0px;
}